@page "/matches"
@using BlazorApp3.Components.Layout
@inherits LayoutComponentBase
@layout LeagueLayout

@using Microsoft.AspNetCore.Components.Authorization
@using BlazorApp3.Model
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Text
@using Microsoft.AspNetCore.Components.QuickGrid

@inject ProtectedSessionStorage ProtectedSessionStore
@inject BlazorApp3.Model.TournamentContext DB
@rendermode InteractiveServer


<PageTitle>Index</PageTitle>

@{
    if (league != null)
    {

        <h1>Matches</h1>
        <EditForm method="post" Model="@schedule" OnValidSubmit="Change" FormName="create" Enhance>
            <select id="id" @bind="@schedule.Id">
                @weeks
            </select>
            <button type="submit" class="btn btn-primary">Select Week</button>
        </EditForm>

        <p>
            <a href="matches/standingsreport?weekid=@thisweekid">This week's standings report</a><br />
            <a href="matches/scorecardreportt?weekid=@thisweekid" target="_blank">This week's score cards</a><br />
        </p>
        if (!@playoff)
        {
           <QuickGrid Class="table table-striped table-condensed" Items="@QModel" >
                <TemplateColumn Context="league" Title="Exchange Rink">
                @if(league.Rink > 1)
                {
                    <CascadingAuthenticationState>
                    <AuthorizeView Roles ="Admin,SiteAdmin">
                            <a @onclick="(() => Moveup(league.Rink))"><img src="images/uparrow.png" /></a>
                    </AuthorizeView>
                    </CascadingAuthenticationState>
                }
                </TemplateColumn>
                <PropertyColumn Property="Model => Model.Rink" Title="Rink"/>
                <TemplateColumn Context="team1" Title="Team 1">
                    <span style="@team1.Team1Style">@team1.Team1</span>
                </TemplateColumn>
                <TemplateColumn Context="team2" Title="Team 2">
                    <span style="@team2.Team2Style">@team2.Team2</span>
                </TemplateColumn>
                <PropertyColumn Property="Model => Model.Team1Score" Title="Team 1 Score" />
                <PropertyColumn Property="Model => Model.Team2Score" Title="Team 2Score" />
                <PropertyColumn Property="Model => Model.Forfeit" Title="Team Forfeiting" />
                <TemplateColumn Context="league">
                 <CascadingAuthenticationState>
                    <AuthorizeView Roles ="Admin,SiteAdmin,Scorer">
                            <a href="@($"matches/scoring?id={league.Id}")">Scoring</a>
                    </AuthorizeView>
                    </CascadingAuthenticationState>
                </TemplateColumn>
            </QuickGrid>
 
            <span style="color: red;">Teams with players in wheelchairs are highlighted in red</span>
        }
        else
        {
            <p>This is a playoff week</p>
        }

        
    }
    else
    {
        <p>Loading...</p>
    }
}

@code
{
    int? leagueid;
    League? league;
    int thisweekid;
    bool playoff;
    IQueryable<WeekItems>? QModel=null;
    MarkupString? weeks;
    [SupplyParameterFromForm]
    MySchedule schedule { get; set; } = new();

    [SupplyParameterFromQuery]
    private int? Id { get; set; }



    protected override async Task OnAfterRenderAsync(bool firstTime)
    {
        if (firstTime)
        {
            ProtectedBrowserStorageResult<int> result = await ProtectedSessionStore.GetAsync<int>("leagueid");
            if(result.Success)
            {
                leagueid = result.Value;
                league = DB.Leagues.Find(leagueid.Value);
                if (league != null)
                {
                    Schedule? week = DB.Schedules.Where(x => x.Leagueid == leagueid.Value).FirstOrDefault(); ;
                    if (Id.HasValue)
                        thisweekid = Id.Value;
                    else
                    {
                        thisweekid = week.Id;
                    }
                    playoff = week.PlayOffs;
                    SetupWeek(thisweekid);

                }
            }
        }
    }


    private void SetupWeek(int weekid)
    {
        thisweekid = weekid;

        StringBuilder optionsList = new StringBuilder();
        foreach (var item in DB.Schedules.Where(x => x.Leagueid == league.Id).OrderBy(x=>x.GameDate).ToList())
        {
            if (item.Id == thisweekid)
                optionsList.AppendLine($"<option value='{@item.Id}' selected>{@item.GameDate.ToShortDateString()}</option>");
            else
                optionsList.AppendLine($"<option value='{@item.Id}'>{@item.GameDate.ToShortDateString()}</option>");
        }
        weeks = new MarkupString(optionsList.ToString());


        if (!playoff)
        {
            List<WeekItems> Model = new List<WeekItems>();
            List<WeekItems> newModel = (from m in DB.Matches.Where(x => x.WeekId == weekid)
                                        join t1 in DB.Teams on m.TeamNo1 equals t1.Id
                                        join t2 in DB.Teams on m.TeamNo2 equals t2.Id
                                        select new WeekItems
                                            {
                                                Id = m.Id,
                                                Rink = m.Rink,
                                                Team1No = m.TeamNo1,
                                                Team2No = m.TeamNo2.Value,
                                                Team1Score = m.Team1Score,
                                                Team2Score = m.Team2Score,
                                                Forfeit = m.ForFeitId
                                            }
                         ).OrderBy(x => x.Rink).ToList();

            foreach (WeekItems item in newModel)
            {
                var index = Model.FindIndex(s => s.Rink == item.Rink);

                TeamMate lead1 = new TeamMate();
                TeamMate lead2 = new TeamMate();
                TeamMate viceskip1 = new TeamMate();
                TeamMate viceskip2 = new TeamMate();


                TeamMate skip1 = (from t in DB.Teams.Where(x => x.Id == item.Team1No)
                                  join p in DB.Players on t.Skip equals p.Id
                                  join m in DB.Memberships on p.MembershipId equals m.Id
                                  select new TeamMate
                                      {
                                          Name = m.NickName,
                                          WheelChair = m.Wheelchair
                                      }).ToList().First();

                TeamMate skip2 = (from t in DB.Teams.Where(x => x.Id == item.Team2No)
                                  join p in DB.Players on t.Skip equals p.Id
                                  join m in DB.Memberships on p.MembershipId equals m.Id
                                  select new TeamMate
                                      {
                                          Name = m.NickName,
                                          WheelChair = m.Wheelchair
                                      }
                ).ToList().First();


                item.Team1 = skip1.Name;
                item.Team2 = skip2.Name;
                item.Team1Style = skip1.WheelChair ? "color:red;" : "";
                item.Team2Style = skip2.WheelChair ? "color:red;" : "";


                if (league.TeamSize < 3)
                {
                    lead1 = (from t in DB.Teams.Where(x => x.Id == item.Team1No)
                             join p in DB.Players on t.Lead equals p.Id
                             join m in DB.Memberships on p.MembershipId equals m.Id
                             select new TeamMate
                                 {
                                     Name = m.NickName,
                                     WheelChair = m.Wheelchair
                                 }).ToList().First();

                    lead2 = (from t in DB.Teams.Where(x => x.Id == item.Team2No)
                             join p in DB.Players on t.Lead equals p.Id
                             join m in DB.Memberships on p.MembershipId equals m.Id
                             select new TeamMate
                                 {
                                     Name = m.NickName,
                                     WheelChair = m.Wheelchair
                                 }
                    ).ToList().First();


                    item.Team1 = $"{skip1.Name}, {lead1.Name}";
                    item.Team2 = $"{skip2.Name}, {lead2.Name}";
                    item.Team1Style = skip1.WheelChair || lead1.WheelChair ? "color:red;" : "";
                    item.Team2Style = skip2.WheelChair || lead2.WheelChair ? "color:red;" : "";
                }

                if (league.TeamSize == 3)
                {
                    viceskip1 = (from t in DB.Teams.Where(x => x.Id == item.Team1No)
                                 join p in DB.Players on t.ViceSkip equals p.Id
                                 join m in DB.Memberships on p.MembershipId equals m.Id
                                 select new TeamMate
                                     {
                                         Name = m.NickName,
                                         WheelChair = m.Wheelchair
                                     }).ToList().First();

                    viceskip2 = (from t in DB.Teams.Where(x => x.Id == item.Team2No)
                                 join p in DB.Players on t.ViceSkip equals p.Id
                                 join m in DB.Memberships on p.MembershipId equals m.Id
                                 select new TeamMate
                                     {
                                         Name = m.NickName,
                                         WheelChair = m.Wheelchair
                                     }
                    ).ToList().First();


                    item.Team1 = $"{skip1.Name}, {viceskip1.Name}, {lead1.Name}";
                    item.Team2 = $"{skip2.Name}, {viceskip2.Name}, {lead2.Name}";
                    item.Team1Style = skip1.WheelChair || lead1.WheelChair || viceskip1.WheelChair ? "color:red;" : "";
                    item.Team2Style = skip2.WheelChair || lead2.WheelChair || viceskip2.WheelChair ? "color:red;" : "";
                }

                Model.Add(item);
            }
            Model.OrderBy(x => x.Rink);
            QModel = Model.AsQueryable();
        }
        StateHasChanged();
    }

    private void Change()
    {
        SetupWeek(schedule.Id);
    }

    private async Task  Moveup(int rink)
    {
        var Model = QModel.ToList();
        var index = Model.FindIndex(s => s.Rink == rink);
        if (index > 0)
        {
            var rink2 = Model[index-1].Rink;

            var mr1 = await DB.Matches.Where(x => x.WeekId == thisweekid && x.Rink == rink).FirstOrDefaultAsync();
            var mr2 = await DB.Matches.Where(x => x.WeekId == thisweekid && x.Rink == rink2).FirstOrDefaultAsync();
            mr1.Rink = rink2;
            mr2.Rink = rink;
            DB.Attach(mr1!).State = EntityState.Modified;
            DB.Attach(mr2!).State = EntityState.Modified;
            try
            {
                await DB.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException) { }
            SetupWeek(mr1.WeekId);
        }
       
    }


    private class WeekItems
    {
        public int Id { get; set; }
        public int Rink { get; set; }
        public string? Team1 { get; set; }
        public string? Team1Style { get; set; }
        public int Team1Score { get; set; }
        public int Team1No { get; set; }
        public string? Team2 { get; set; }
        public int Team2Score { get; set; }
        public int Team2No { get; set; }
        public string? Team2Style { get; set; }
        public int? Forfeit { get; set; }
    }

    private class Weeks
    {
        public int weekid { get; set; }
        public string? date { get; set; }
    }

    private class TeamMate
    {
        public string Name { get; set; }
        public bool WheelChair { get; set; }

    }

    public class MySchedule
    {
        public int Id { get; set; }
    }
}
